#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*
*._*
*.swp
profile

#Xcode files
.xcuserstate
*/xcuserdata/
*.xcuserdatad
*.xcworkspace
*.xcodeproj/*.pbxuser
XidianNavigation.xcodeproj/project.xcworkspace/xcuserdata/ooops.xcuserdatad/UserInterfaceState.xcuserstate

#Project files
[Bb]uild/*
*~.nib
*~

#Git files
.gitignore
